
body {
	line-height: 1;
	font: small-caps lighter 48px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	letter-spacing: -0.015em;
	font-size: 1.25em;
	text-align: center;
}

div {
	align-content: center;
	width: 100%;
	height: auto;
}

div .countup {
	white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

span {
	display: inline-block;
}

body .redthread {
	text-align: center;
	width: 10%;
	max-width: 100%;
	height: auto;
}

p .runner {
	text-align: center;
	width: 10%;
	max-width: 100%;
	height: auto;
}

.about {
	padding-top: 5%;
	width: 100%;
	height: auto;
}