@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
    font-family: 'Baloo Bhai 2', cursive;
    background: #191919;
    color: #ffffff;
}

#header {
    display: inline-block;
}

#navigation {
    position: fixed;
    top: 2%;
    left: 1%;
    padding: 2px 2px;
    font-size: 2rem;
    z-index: 999;
}

#socials {
    position: fixed;
    top: 2%;
    right: 1%;
    padding: 2px 2px;
    z-index: 999;
}

.icons {
    padding-left: 20px;
}

.container {
    text-align: center;
    transition: 0.5s;
}

.logo {
    display: inline-block;
    margin: 0 auto;
    transition: 0.5s;
    line-height: 1;
    margin-top: 10%;
    font-family: 'Microsoft Yahei Light', sans-serif;
    font-size: 10rem;
    text-shadow: 0 0 5px #ffffff;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
    border-radius: 5%;
    background: #111111;
    padding: 2% 2%;
    cursor: pointer;
}

.logo:hover {
    text-shadow: 0 0 10px #ffffff;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.8);
}

.tagline {
    display: block;
    text-align: center;
    color: #ffffff63;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.contact {
    display: block;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    transition: 0.2s;
    padding: 2px 2px;
}

li:hover {
    text-shadow: 0 0 2px #ffffff;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.fontchange {
    font-family: 'Varela Round', cursive;
    text-shadow: 0 0 5px #ffffff;
    letter-spacing: -1rem;
    padding-right: 3.5rem;
}

.fontchange:hover {
    text-shadow: 0 0 10px #ffffff;
}